In [1]:
# import modules
import numpy as np
import matplotlib.pyplot as plt
import random
import pandas as pd

# Extract data from file - section

In [6]:
f = open('data', 'r')
lines = f.readlines()
f.close()
at_aver = []
bst_aver = []
for line in lines:
    l = line.split()
    at_aver.append(int(l[0]))
    bst_aver.append(int(l[1]))
aver_data = np.zeros((len(at_aver), 2), dtype=int)
for i in range(len(at_aver)):
    aver_data[i,0] = at_aver[i]
    aver_data[i,1] = bst_aver[i]
df = pd.DataFrame(aver_data)
df.columns = ['<at_i+1 - at_i>', '<bst>']
df.head()

   <at_i+1 - at_i>  <bst>
0                0      0
1                0      1
2                0      2
3                0      3
4                0      4

# Read RR 1

In [7]:
f = open("RR_ALG+1", 'r')
lines = f.readlines()
f.close()
tat = []
wt = []
for line in lines:
    l = line.split()
    tat.append(float(l[1]))
    wt.append(float(l[0]))
tat = np.array(tat)
wt = np.array(wt)
df['<wt> (RR_1)'] = wt
df['<tat> (RR_1)'] = tat
df.head()

   <at_i+1 - at_i>  <bst>  <wt> (RR_1)  <tat> (RR_1)
0                0      0        499.5       3830.52
1                0      1        499.5       4086.58
2                0      2        499.5       3941.51
3                0      3        499.5       4299.58
4                0      4        499.5       4343.24

# Read RR 2